h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
}

label{
    padding: 10px;
}

.error{
    color: rgb(250, 106, 106);
    font-size: 14px;
}

.red{
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.green{
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.wrap1024{
    position: relative;
    width: 1024px;
    margin: 50px auto;
    padding: 40px;
    border-radius: 10px;
    background-color: #f7f7f7;
}

.dataTables_paginate{
    text-align: right; 
}

.paginate_button{
    padding: 10px;
    cursor: pointer;
}

.revoir{
    margin: 10px 0;
}

.table{
    background-color: #fcfcfc;
}

[type=search]{
    outline: none;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    margin: 10px;
}

